.bg-black {
  background-color: $colour-black;
}
.bg-white {
  background-color: $colour-white;
}
.bg-gray {
  background-color: $colour-gray;
}
.bg-red {
  background-color: $colour-red;
  // animation: blink 1s linear infinite;
}
.bg-blue {
  background-color: $colour-blue;
}
.bg-green {
  background-color: $colour-green;
}
.bg-yellow {
  background-color: $colour-yellow;
}
.bg-orange {
  background-color: $colour-orange;
}
.bg-purple {
  background-color: $colour-purple;
}

.colour-black {
  color: $colour-black;
}
.colour-white {
  color: $colour-white;
}
.colour-gray {
  color: $colour-gray;
}
.colour-red {
  color: $colour-red;
}
.colour-blue {
  color: $colour-blue;
}
.colour-green {
  color: $colour-green;
}
.colour-yellow {
  color: $colour-yellow;
}
.colour-orange {
  color: $colour-orange;
}
.colour-purple {
  color: $colour-purple;
}
